/* user settings form */
form.users_settings div { position: relative; float: left; clear: both; width: 100%; }
form.users_settings div.id_first_name { float: left; clear: left; width: 40%; }
form.users_settings div.id_last_name { float: left; clear: right; width: 40%; margin-left: 5%; }
form.users_settings div.id_city { width: 33%; clear: left; }
form.users_settings div.id_state { width: 33%; clear: none; }
form.users_settings div.id_zip { width: 34%; clear: right; }

form.users_settings div.id_address { margin-top: 1.5em; }
form.users_settings input#id_address, form.users_settings input#id_address2,
form.users_settings input#id_city, form.users_settings input#id_state,
form.users_settings input#id_zip  { margin-bottom: 0px; }

form.users_settings div.id_timezone { margin-top: 1em; }

form.users_settings button[type=submit] { margin-top: 1.5em; }
