{% extends "base.html" %}

{% block title %}HabitGram Details{% endblock %}

{% block content %}
	<div class="row">
		<!-- Second Band (Image Left with Text) -->
		<div class="row">
			<div class="large-6 columns">
				{% with habitgram as program %}
				<img src="{% include "programs/image_link.html" %}">
				{% endwith %}
			</div>
			<div class="large-6 columns">
				<h4>{{ habitgram.title }}</h4>
				{% if not form %}{% include "util/share.html" %}{% endif %}
				<br />
				<br />
				<br />
				<div>Author: {{habitgram.author}}</div>
				<div>Interactions: {{ habitgram.get_message_type_display }}</div>
				<br />
				<div class="right">
					{% if form %}
						<h3>Subscription Times:</h3>
						{% include "util/form.html" %}
						<br />
						<br />
					{% else %}
						{% if subscribed %}
							{% for sub_time in subscription.subscriptiontime_set.all %}
								<p>On {{ sub_time.get_weekday_display }} at {{sub_time.time}}</p>
							{% endfor %}
							<a href="{% url 'program-sub-update' subscription.id %}" class="button">Edit Subscription</a>
							<a href="{% url 'program-unsubscribe' habitgram.id %}" class="right button">Unsubscribe</a>
						{% else %}
							<a href="{% url 'program-subscribe' habitgram.id %}" class="right button">Sign me up!</a>
						{% endif %}
					{% endif %}
					<br />
					<a href="/getting-started/" class="right button">How do HabitGrams work?</a>
				</div>
			</div>
		</div>
		<!-- Third Band (Image Right with Text) -->
		<div class="row">
			<div class="large-8 columns">
				<br />
				<br />
				<div>{{ habitgram.description|default:"Unfortunately, this HabitGram does not yet have a description." }}</div>
			</div>
		</div>
	</div>
{% endblock %}