{% extends "base.html" %}

{% block title %}HabitGrams Catalog{% endblock %}

{% block heading %}
<h2>HabitGrams Catalog</h2>
{% endblock %}

{% block content %}
<div class="row">
  <div class="small-12 medium-12 large-12 columns medium-push-4 large-push-3">
    {% for program in programs %}
      <!-- Feed Entry -->
      <div class="row">
        <div class="small-3 large-2 columns"><img src="{% include "programs/image_link.html" %}" /></div>
        <div class="small-9 large-10 columns">
          <p><strong>{{ program.title }}:</strong> {{ program.description }}</p>
          <ul class="inline-list">
            <li><a class="button" href="{{ program.get_absolute_url }}">Details</a></li>
            <li><a class="button" href="{% url 'program-update' pk=program.id %}">Edit HabitGram</a></li>
            {% if program.subscribed %}
              <li><a class="button" href="{% url 'program-sub-update' pk=program.subscription.id %}">Edit Subscription</a></li>
              <li><a class="button" href="{% url 'program-unsubscribe' pk=program.id %}">Unsubscribe</a></li>
            {% else %}
              <li><a class="button" href="{{ program.get_subscription_url }}">Subscribe</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      <!-- End Feed Entry -->
      <hr>
    {% empty %}
      <div class="row">
      <div class="small-9 large-5 columns">There doesn't appear to be any habitgrams here!</div>
      </div>
    {% endfor %}
    {% if user.is_authenticated %}
    <br />
    <a href="{% url 'program-create' %}" class="button">Create New Habitgram</a>
    {% endif %}
  </div>
</div>
{% endblock %}