{% spaceless %}
<div class="form-item inline
{% if inline.ORDER %} orderable{% endif %}
{% if inline.DELETE %} deletable{% endif %}
">
{% endspaceless %}
    {# TODO: fix the inline form's naming... #}
    {% comment %}
        <h3>
        {% if inline.verbose_name_plural %}
            {{ inline.verbose_name_plural }}
        {% elif inline.verbose_name %}
            {{ inline.verbose_name }}
        {% elif inline.Meta.verbose_name_plural %}
            {{ inline.Meta.verbose_name_plural }}
        {% elif inline.Meta.verbose_name %}
            {{ inline.Meta.verbose_name }}
        {% else %}
            {{ inline.prefix|capfirst }}
        {% endif %}
        </h3>
    {% endcomment %}
    {% if inline.management_form %}
        <div class='form-inline-management'>
            {{ inline.management_form }}
        </div>
    {% endif %}
    {% for inlineform in inline %}
        <div class="row">
            {% for inlinehidden in inlineform.hidden_fields %}
                {{ inlinehidden }}
            {% endfor %}
    
            {% for inlineformfield in inlineform.visible_fields %}
                <div class="form-item form-inline-form-item small-4 columns">
                    {{ inlineformfield.label_tag }}
                    {{ inlineformfield }}
                    {{ inlineformfield.errors }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="button" class='form-item-adder-button'>Add Another</button>
</div>