<div class='form-hidden'>
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <div class='form-csrf'>{% csrf_token %}</div>
</div>

<div class='form-fields'>
    {% for field in form.visible_fields %}
        <div class="form-field id_{{field.name}}">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
    {% endfor %}
</div>

<div class="form-inlines">
    {% if form.management_form %}
        {# We're rendering a formset! #}
        {% with form as inline %}
            {% include "util/form_inline.html" %}
        {% endwith %}
    {% else %}
        {# We're rendering a normal form #}
        {% for inline in inlines %}
            {% include "util/form_inline.html" %}
        {% endfor %}
    {% endif %}
</div>