<div class="share">
	<div>Share:</div>
	<span class='st_reddit_large' displayText='Reddit'></span>
	<span class='st_facebook_large' displayText='Facebook'></span>
	<span class='st_twitter_large' displayText='Tweet'></span>
	<span class='st_email_large' displayText='Email'></span>
	<span class='st_linkedin_large' displayText='LinkedIn'></span>
	<span class='st_pinterest_large' displayText='Pinterest'></span>
	<span class='st_googleplus_large' displayText='Google +'></span>
	<span class='st_blogger_large' displayText='Blogger'></span>
	<span class='st_tumblr_large' displayText='Tumblr'></span>
	<span class='st_sharethis_large' displayText='ShareThis'></span>
</div>