{% extends "base.html" %}

{% block title %}Author Info{% endblock %}

{% block heading %}
<h2>Info for Authors</h2>
{% endblock %}

{% block content %}
    <p>We are on the hunt for industry leaders, top notch experts, and life coaches to join the habitgram platform.</p>
    <p>Pretty Please.</p>
{% endblock %}