{% load url from future %}
{% load ajaxify_templatetags %}
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

  <head>
    <title>HabitGram.com &raquo; {% block title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.10.3.custom.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom.css">
    <script src="{{ STATIC_URL }}js/vendor/custom.modernizr.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom.min.js"></script>
    {% ajaxify_js_import %}
  </head>
  <body>

      <!-- Header and Nav -->

  <div class="row">
    <div class="large-6 columns">
      <a href="/"><img src="{{STATIC_URL}}images/habitgrams.png"></a>
    </div>
    <div class="large-6 columns">
  {% if user.is_authenticated %}
      <ul class="button-group right">
        <li><h3 style="padding: 15px;">Hi, {{ user.username }}! </h3> </li>
        <li><a href="{% url 'user-settings' %}" class="button">Settings</a></li>
        <li><a href="{% url 'account_logout' %}" class="button">Logout</a></li>
      </ul>
  {% else %}
      <ul class="button-group right">
        <li><a href="{% url 'account_signup' %}" class="button">Create Account</a></li>
        <li><a href="{% url 'account_login' %}" class="button">Login</a></li>
      </ul>
  {% endif %}
    </div>
  </div>

  <!-- End Header and Nav -->

  <!-- Header and Nav -->
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="/do-anything/">
            :)
          </a>
        </h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li><a href="/">Home</a></li>
        <li class="divider"></li>
{% if user.is_authenticated %}
        <li><a href="{% url 'program-sub-list' %}">My Subscriptions</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'program-auth-list' %}">My Created Habitgrams</a></li>
        <li class="divider"></li>
{% endif %}
      </ul>

      <!-- Right Nav Section -->
    </section>
  </nav>
  <!-- End Header and Nav -->
  {% block body %}
    <div class="row">
      {% if left_items %}
      <div class="large-3 columns">
        {% block content-left %}
          {% for item in left_items %}
            {% include item.template %}
          {% empty %}
            <div class="panel">
              <h5>How it works.</h5>
              <p>This is a three columns grid panel with an arbitrary height.</p>
            </div>
          {% endfor %}
        {% endblock %}
      </div>
      {% endif %}
      <div class="large-{% if left_items and right_items %}6{% elif left_items or right_items%}9{% else %}12{% endif %} columns">
        {% block heading %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
      {% if right_items %}
      <div class="large-3 columns">
        {% block content-right %}
          {% for item in right_items %}
            {% include item.template %}
          {% empty %}
            <div class="panel">
              <h5>Featured programs:</h5>
              <p>This is a three columns grid panel with an arbitrary height.</p>
            </div>
          {% endfor %}
        {% endblock %}
      </div>
      {% endif %}
    </div>
  {% endblock %}

  <div class="row">
    <div class="large-12 columns">
      <hr />
      {% block extra_body %}
      {% endblock %}
    </div>
  </div>

  <!-- Footer -->
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright HabitGram. All rights reserved.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="/getting-started/">About HabitGram.com</a></li>
            <li><a href="/author-info/">For Authors</a></li>
            <li><a href="/contact-us/">Contact Us</a></li>
            <li><a href="/do-anything/">;)</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Floating Notifications -->
  {% if notifications %}
    <div id="notification-wrapper" class="wrapper wrapper-style2" style="position:absolute; left: 30%; right: 30%; width: 40%; top: 40%; text-align: center; border: 2px solid #333; color: #111; background: #fff; padding: 2em;">
      {% for message in notifications %}
        <p>{{ message }}</p>
        <hr />
      {% endfor %}
      <div class="row">
        <div class="12u">
          <a href="#" class="button button-alt" onclick="var element = document.getElementById('notification-wrapper'); element.parentNode.removeChild(element); return false;">Dismiss This</a>
          </div>
      </div>
    </div>
  {% endif %}

  <script>
    $(document).foundation();
  </script>

{% block javascript %}
{% endblock %}
<script type="text/javascript" src="{{ STATIC_URL }}js/allauth.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.placeholder.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/custom.js"></script>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "2f610fb0-9a80-4337-9044-dbc3c289c482", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

</body>
</html>





