{% extends "base.html" %}

{% block title %}Do Anything{% endblock %}

{% block heading %}
<h2>Do Anything:</h2>
{% endblock %}

{% block content %}
        <h5>You can do anything good.</h5>
        <br />
        <iframe width="420" height="315" src="//www.youtube.com/embed/qR3rK0kZFkg" frameborder="0" allowfullscreen></iframe>
{% endblock %}