{% extends "base.html" %}

{% block title %}Getting Started{% endblock %}

{% block heading %}
<h2>How it works:</h2>
{% endblock %}

{% block content %}
     <div class="row">
		<div class="large-6 columns">
			<p>Have you ever heard the phrase "Out of sight, out of mind"? It applies to goals and the way they seem to disappear if we are not constantly thinking of them.</p>
			<p>We're here to help you prevent that. We use a number of methods to help keep you sharp and on track with the things you really want to get accomplished in life. Sometimes we email you; Sometimes we call you on your cellphone and ask how your goals are coming along. Sometimes we do something altogether different, but the important part is that we reach out to you in your daily life to help keep you thinking about those things that are really important to you.</p>
		</div>
		<div class="large-6 columns">
			{% include "util/share.html" %}
			<br />
			<br />
			<iframe width="420" height="315" src="//www.youtube.com/embed/qR3rK0kZFkg" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
{% endblock %}