{% extends "base.html" %}

{% block content %}
  <!-- Main Grid Section -->
  <div class="row">
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <img src="/static/images/lift.jpg" />
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <h4>You can do anything good.</h4>
        <p>We care about helping people build long term habits and improving chances for success in self improvement.
        </p>
        <p>You have goals. We want to help.</p>
      </div>
    </div>
    <div class="large-4  columns">
      <div class="panel">
          <span class="success label"><h5>success</h5></span>
          <span class="success label">excercise</span>
          <span class="success label"><h5>parenting</h5></span>
          <span class="success label">diet</span>
          <span class="success label"><h5>professional development</h5></span>
          <span class="success label">philosophy</span>
          <span class="success label"><h5>meditation</h5></span>
          <span class="success label">running</span>
          <span class="success label"><h5>bad habits</h5></span>
          <span class="success label">religion</span>
          <span class="success label"><h5>change</h5></span>
          <span class="success label">winning</span>
          <span class="success label"><h5>life</h5></span>
          <span class="success label">journey</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns">
      <div class="panel">
        <h5>We're like an inspirational robot.</h5>
        <p>Each habitgram program is a collection of messages that help you through the toughest phases of any program. These are delivered to you on a custom schedule designed by the habitgram creator.</p>
        <img style="float: right; margin: 15px 15px 15px 15px;" src="/static/images/stringfing.jpg" />
        <p>Each habitgram program is different. For instance a difficult change like quitting smoking might start out with three messages a day and slowly back down to once a week over the course of a year or more. A different HabitGram might reach out once a day for a month and be done.</p>
        <p>HabitGrams can be just about anything. Sometimes we call, sometimes we send you a video, an email, a letter in the mailbox. We like to switch things up a little because when reminders settle into a pattern they are more easily ignored.</p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <h5>Made <u>by</u> Awesome People.</h5>
        <p>Habitgrams are created by awesome coaches who really know stuff and know how to help you in your journey.</p>
        <h5>Made <u>for</u> Awesome People.</h5>
        <p>That's you!</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <img src="/static/images/diet.jpg" />
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <img src="/static/images/guitar.jpg" />
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="panel">
        <p>
          <img src="/static/images/run.jpg" />
        </p>
      </div>
    </div>
  </div>
  <!-- End Grid Section -->
{% endblock %}