{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block heading %}
	<h2>Settings</h2>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="small-4 large-9 columns">
			{% with form_name="users_settings" %}
			{% include "util/form.html" %}
			{% endwith %}
			<br />
			<a href="{% url 'account_email' %}" class="button">Change Email Preferences</a>
		</div>
	</div>
{% endblock %}